<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gestr Technology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gadgettronix</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/product">Product</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/indiegogo">Indiegogo</a></li>
          <li><a href="/subscribe">Subscribe</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>



<div class="jumbotron">
  <div class="container-fluid">
    <h2>About Gadgettronix</h2>
    <br>
    <p>Gadgettronix was formed in 2010 to pursue opportunities in the IoT and wearable electronics, a burgeoning field fueled by some really cool innovations. Gadgettronix is currently on the 5th iteration of the hardware which will culminate in transfer to production and manufacturing pilot. We are based in the greater Denver, Colorado area, which makes field testing really fun.
    </p>
    <br>
    <h5>Questions or comments? Drop us a line at ask@gadgettronix.com.</h5>
    <br>
    <p>We have an experienced and well-rounded team with a proven track record, and we’re really passionate about what we’re doing. Check out our Mission Statement.</p>
  </div>
</div>


<div class="container">
  <h2>The Team</h2>
  <div class="row col-sm-12">
    <div class="col-sm-4">
      <img style="width:100%;" src="https://www.devesteynde.nl/wp-content/uploads/2016/02/maxresdefault.jpg" alt="">
      <h5>Tony Dobaj, Founder & President</h5>
    </div>
    <div class="col-sm-8">
      <h5>A self-described geek, open source evangelist, STEM advocate and technology wonk, Tony Dobaj has been developing electromechanical gadgets for around 35 years for such companies as Boeing, Nokia and IDEXX to name a few. He formed Gadgettronix in 2010 to pursue opportunities in the IoT and wearable electronics, a burgeoning field fueled by some really cool innovations. Since getting the green light to run Gadgettronix full time in 2012, Tony has dabbled in the semantic web, assisted in technical and business development for a web-based cyber security SaaS product, and iterated several times on a system architecture for wireless, autonomous sensor nodes using open source hardware and firmware and associated business development, and is having the time of his life. As an avid skier and cyclist, it’s no coincidence that the roadmap starts with products serving that demographic.</h5>
    </div>
  </div>
  <br>
  <div class="row col-sm-12">
    <div class="col-sm-4">
      <img style="width:100%;" src="https://www.devesteynde.nl/wp-content/uploads/2016/02/maxresdefault.jpg" alt="">
      <h5>Tony Dobaj, Founder & President</h5>
    </div>
    <div class="col-sm-8">
      <h5>A self-described geek, open source evangelist, STEM advocate and technology wonk, Tony Dobaj has been developing electromechanical gadgets for around 35 years for such companies as Boeing, Nokia and IDEXX to name a few. He formed Gadgettronix in 2010 to pursue opportunities in the IoT and wearable electronics, a burgeoning field fueled by some really cool innovations. Since getting the green light to run Gadgettronix full time in 2012, Tony has dabbled in the semantic web, assisted in technical and business development for a web-based cyber security SaaS product, and iterated several times on a system architecture for wireless, autonomous sensor nodes using open source hardware and firmware and associated business development, and is having the time of his life. As an avid skier and cyclist, it’s no coincidence that the roadmap starts with products serving that demographic.</h5>
    </div>
  </div>
  <br>
  <div class="row col-sm-12">
    <div class="col-sm-4">
      <img style="width:100%;" src="https://www.devesteynde.nl/wp-content/uploads/2016/02/maxresdefault.jpg" alt="">
      <h5>Tony Dobaj, Founder & President</h5>
    </div>
    <div class="col-sm-8">
      <h5>A self-described geek, open source evangelist, STEM advocate and technology wonk, Tony Dobaj has been developing electromechanical gadgets for around 35 years for such companies as Boeing, Nokia and IDEXX to name a few. He formed Gadgettronix in 2010 to pursue opportunities in the IoT and wearable electronics, a burgeoning field fueled by some really cool innovations. Since getting the green light to run Gadgettronix full time in 2012, Tony has dabbled in the semantic web, assisted in technical and business development for a web-based cyber security SaaS product, and iterated several times on a system architecture for wireless, autonomous sensor nodes using open source hardware and firmware and associated business development, and is having the time of his life. As an avid skier and cyclist, it’s no coincidence that the roadmap starts with products serving that demographic.</h5>
    </div>
  </div>
  <br>
  <div class="row col-sm-12">
    <div class="col-sm-4">
      <img style="width:100%;" src="https://www.devesteynde.nl/wp-content/uploads/2016/02/maxresdefault.jpg" alt="">
      <h5>Tony Dobaj, Founder & President</h5>
    </div>
    <div class="col-sm-8">
      <h5>A self-described geek, open source evangelist, STEM advocate and technology wonk, Tony Dobaj has been developing electromechanical gadgets for around 35 years for such companies as Boeing, Nokia and IDEXX to name a few. He formed Gadgettronix in 2010 to pursue opportunities in the IoT and wearable electronics, a burgeoning field fueled by some really cool innovations. Since getting the green light to run Gadgettronix full time in 2012, Tony has dabbled in the semantic web, assisted in technical and business development for a web-based cyber security SaaS product, and iterated several times on a system architecture for wireless, autonomous sensor nodes using open source hardware and firmware and associated business development, and is having the time of his life. As an avid skier and cyclist, it’s no coincidence that the roadmap starts with products serving that demographic.</h5>
    </div>
  </div>
</div>


<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
