<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gestr Technology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/indiegogo.css">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gadgettronix</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/product">Product</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/indiegogo">Indiegogo</a></li>
          <li><a href="/subscribe">Subscribe</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Get Ready For The Indiegogo Launch!</h1>
      <br><br>
      <h2 id="demo" style="font-size:40px;"></h2>
      <h2 id="lowerdemo" style="font-size:40px;"></h2>
      <br><br>
      <button type="button">Go To Campaign</button>
      <p>(Campaign link will work once timer expires)</p>
    </div>
  </div>


<div class="container">
  <div class="row col-sm-12">

    <div class="col-sm-4">
      <h2>Contributions</h2>
      <p>After tremdendious amounts of support and hard work, the Gestr has become a reality. With our plan to reach our first round of customers, we need a little more support from the community. May 7th is when the Indiegogo campaign launches and we'd love all the support we can get to make sure this amazing product reaches as many people as possible.</p>
    </div>
    <div class="col-sm-8">
      <img style="width:100%;" src="https://css-tricks.com/wp-content/uploads/2013/11/meter-background.png" alt="">
    </div>
  </div>
</div>

<div class="container bg-grey" style="width:100%;">
  <div class="text-center slideanim">
    <h2>In The News</h2>
  </div>

  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4 text-center">
      <h4>News Story One</h4>
      <img style="width:100%" src="http://www.enterprisemission.com/images/europa-e.jpg" alt="">
      <p>With the help of multiple organizations and a combined 5000 man hours, the Gestr became viable in 2017</p>
    </div>
    <div class="col-sm-4 text-center">
      <h4>News Story Two</h4>
      <img style="width:100%" src="http://www.enterprisemission.com/images/europa-e.jpg" alt="">
      <p>May 2018, the Gestr is released through Indiegogo and Gadgettronix Website to be sold in USA</p>
    </div>
    <div class="col-sm-4 text-center">
      <h4>News Story Three</h4>
      <img style="width:100%" src="http://www.enterprisemission.com/images/europa-e.jpg" alt="">
      <p>After early adoption, the community of smart wears will help make life safer for all.</p>
    </div>
  </div>
  <br><br>
</div>

<div class="jumbotron">
  <div class="container text-center slideanim">
    <h1>Arrow Certified</h1>
    <br><br>

    <button type="button">Arrow Link</button>
    <br><br>
    <p>Information about Arrow Information about Arrow Information about Arrow Information about Arrow Information about Arrow Information about Arrow Information about Arrow Information about Arrow.</p>
  </div>
</div>




<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/counterdown-timer.js"></script>
<script>
  $(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
  })
</script>

</body>
</html>
