<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/product.css">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gadgettronix</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">Product</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/indiegogo">Indiegogo</a></li>
          <li><a href="/subscribe">Subscribe</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div style="min-height:600px;background-image:url('https://www.devesteynde.nl/wp-content/uploads/2016/02/maxresdefault.jpg');" class="jumbotron">
  <div class="container text-center">
    <div class="row col-sm-7">
      <br><br><br><br><br><br>
      <img style="height:350px;width:600px;margin-bottom:100px;" src="http://pngimg.com/uploads/watches/watches_PNG9904.png" alt="">
    </div>
    <div class="row col-sm-5">
      <div class="">
        <h2 style="color:white;font-size:50px;">Meet The Gestr</h2>
        <p>Connect with your phone like never before. Safely command your phone with intuitive gestures.</p>
      </div>
      <br>
      <div class="" style="margin-left:70px;">
        <div class="row" style="display:flex;flex-direction:row;">
          <img style="height:20px;width:20px;" src="https://png.icons8.com/metro/1600/music.png" alt="">
          <br>
          <p>Control Your Music</p>
        </div>
        <div class="row" style="display:flex;flex-direction:row;">
          <img style="height:20px;width:20px;" src="https://png.icons8.com/metro/1600/music.png" alt="">
          <br>
          <p>Answer Calls, Listen to Messages</p>
        </div>
        <div class="row" style="display:flex;flex-direction:row;">
          <img style="height:20px;width:20px;" src="https://png.icons8.com/metro/1600/music.png" alt="">
          <br>
          <p>Know when Another Gestr is Approaching</p>
        </div>
        <div class="row" style="display:flex;flex-direction:row;">
          <img style="height:20px;width:20px;" src="https://png.icons8.com/metro/1600/music.png" alt="">
          <br>
          <p>Do Pretty Much Anything your phone can do Touch Free!</p>
        </div>
      </div>
      <br>
      <div class="">
        <h3 style="color:white;">This Product is coming to market soon!</h3>
        <br>
        <button style="width:200px;height:50px;" class="btn btn-primary" type="button">Pre Order Yours</button>
        <p>Watch Video</p>
      </div>
    </div>

  </div>
</div>
<br>
<div class="container bg-grey">
  <div class="text-center">
    <h2>Gestr</h2>
    <h4>Then and Now</h4>
  </div>

  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-off logo-small text-center"></span>
      <h4>Prototype</h4>
      <p>With the help of multiple organizations and a combined 5000 man hours, the Gestr became viable in 2017</p>
    </div>
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-heart logo-small text-center"></span>
      <h4>Market</h4>
      <p>May 2018, the Gestr is released through Indiegogo and Gadgettronix Website to be sold in USA</p>
    </div>
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-lock logo-small text-center"></span>
      <h4>Community Ahead</h4>
      <p>After early adoption, the community of smart wears will help make life safer for all.</p>
    </div>
  </div>
  <br><br>
</div>

<div class="container" style="height:150px;">
  <div class="row col-sm-12">

  </div>
</div>



<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
  })
</script>
</body>
</html>
